@{
    ViewData["Title"] = "İletişim";
}
<h1 class="mt-4">İletişim</h1>
<div class="mt-3">
    <strong>Emin ALTAN</strong><br />
    <span>Telefon: 0 531 985 6287</span><br />
    <span>LinkedIn: <a href="https://www.linkedin.com/in/emin-altan-0120632b8/" target="_blank">linkedin</a></span><br />
    <span>Github: <a href="https://github.com/eminaltan6809" target="_blank">github</a></span>
</div> 